.content-container{
    &.fluid{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    
        & .content-left{
            flex: 1;
            padding-right: 15px;
    
            & .content-img{
                img{
                    width: 80vh;
                    max-width: 100%;
                }
            }
        
            & .content-text{
                font-size:13px;
                margin-left:0;
                text-align: center;
        
                & .content-text-para{
                    font-size: 16px;
                    color: $text-color-paragraph;
                    line-height: 1.8;
                    margin-top: 12px;
                    &.dark-bg{
                        color:$light-text-color;
                    }
                }
            }
        }
    
        & .content-right{
            flex: 1;
            padding-left: 15px;

            & .content-img{
                img{
                    width: 80vh;
                    max-width: 100%;
                }
            }
        
            & .content-text{
                font-size:13px;
                margin-right:0;
                text-align: center;

                & .content-text-para{
                    font-size: 16px;
                    color: #676b73;
                    line-height: 1.8;
                    margin-top: 12px;
                    &.dark-bg{
                        color:$light-text-color;
                    }
                }
            }
        }
    } 

    
}

@media (min-width:992.98px){
    .content-container{
        &.fluid{
            flex-direction: row;

            & .content-right{
                & .content-text{
                    text-align: left;
                    margin-left:15%;
                }

                & .content-img{
                    img{
                        width: 60vh;
                    }
                }
                
            }

            & .content-left{
                & .content-text{
                    text-align: left;
                    margin-left:15%;
                }

                & .content-img{
    
                    img{
                        height: 60vh;
                    }
                }
            }
        }
    }
}