.button{
    &.button-primary{
        @include primary-gradient-bg;
        border-radius: 36px;
        background-color: transparent;
        color: white;
        border:none;
    }

    &.button-lg{
        padding: 12px 44px;
        font-family: 'Muli-Bold';
    }

    &.button-md{
        padding: 8px 38px;
        font-family: 'Muli-Bold';
        font-size: 14px;
    }


}
