.content-card{
    border-radius:20px;
    background: $card-bg-color;
    display: flex;
    align-items: center;

    &.sm{
        background: $secondary-color;
        display: flex;
        align-items: center;
        border: 1px solid $primary-color;
        flex-direction: row;
        padding: 15px;
        margin-bottom: 15px;
        color: $primary-color;

        & .card-title{
            flex:3;
            font-size: 16px;
            font-family: 'Muli-SemiBold';
            color: $light-text-color;
            text-align: left;

            &:hover{
                color: $primary-color;
            }
        }

        & .card-img{
            flex:1;

            img{
                height:50px;
                margin-right: 5px;
            }
        }
    }

    &.lg{
        flex-direction: row;
        padding: 40px 60px;
        margin-bottom: 30px;

        & .card-text{
            padding-right: 20px;
            flex:3;
            & .card-title{
                font-size: 26px;
                font-family: 'Muli-ExtraBold';
                margin-bottom: 0px;

                &.dark-bg{
                    color:$light-text-color;
                }
            }

            & .card-title-light{
                flex:2;
                font-size: 18px;
                font-family: 'Muli-SemiBold';
                margin-bottom: 10px;
                &.dark-bg{
                    color:$light-text-color;
                }
            }

            & .card-para{
                font-size: 13px;
                &.dark-bg{
                    color:$light-text-color;
                }
            }
        }

        

        & .card-img{
            flex:2;
            text-align:right;

            img{
                max-width:80%;
            }
        }
    }

    &.colored{
        background: $card-bg-color;
    }

    &.reveresed{
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 30px;
        margin-bottom: 30px;

        & .card-text{
            & .card-title{
                font-size: 26px;
                font-family: 'Muli-ExtraBold';
                margin-bottom: 5px;
                color: $primary-text-color;

                &.dark-bg{
                    color:$light-text-color;
                }
            }

            & .card-title-light{
                font-size: 18px;
                font-family: 'Muli-SemiBold';
                margin-bottom: 10px;

                &.dark-bg{
                    color:$light-text-color;
                }
            }

            & .card-para{
                font-size: 15px;
                color: $text-color-paragraph;
                line-height: 1.8;

                &.dark-bg{
                    color:$light-text-color;
                }
            }
        }

        & .card-img{
            text-align:center;

            img{
                max-width:70%;
                padding: 30px 5px;
            }
        }
    }


}

@media (min-width:992.98px){
    .content-card{
        &.reveresed{
            height: 100%;
        }
    }
}