$primary-text-color:#3D4A69;
$primary-color: #f06d06;
$primary-color-light:#FDF8F4;
$card-bg-color:#FAFAFA;
$secondary-color:#180253;
$light-text-color:#FAFAFA;
$base-gradient-color:#ff2c2c;
$text-color-paragraph:#676b73;