body{
    font-family: 'Muli-Regular';
}

.btn-holder{
    margin: 20px 0px;
}

footer{
    text-align: center;
    font-family: 'Muli-SemiBold';
    font-size:13px;
    padding: 20px;
    color: $light-text-color;
    background: $secondary-color;
}

.pd-bt-lg{
    padding-bottom: 80px;;
}

.mg-tb-sm{
    margin: 10px 0px;
}

.mg-tb-md{
    margin: 50px 0px;
}

.pd-tb-md{
    padding: 50px 0px;
}

.t-center{
    text-align: center;
}