body{
    font-family: 'Muli-Regular';
    cursor:default;
}

html {
    scroll-behavior: smooth;
}

.btn-holder{
    margin: 40px 0px;
}

footer{
    text-align: center;
    font-family: 'Muli-SemiBold';
    font-size:13px;
    padding: 20px;
    color: $light-text-color;
    background: $secondary-color;
}

.pd-bt-lg{
    padding-bottom: 80px;;
}

.mg-tb-sm{
    margin: 10px 0px;
}

.mg-tb-md{
    margin: 50px 0px;
}

.pd-tb-md{
    padding: 50px 0px;
}

.t-center{
    text-align: center;
}

// Add degree

.degree-value{
    &:after {
        content: "\00b0"
    }
}

// Anchor values in href navigations

.anchor {
    display: block;
    height: 92px;
    margin-top: -92px;
    visibility: hidden;
}

.clikable{
    cursor: pointer;
}

// Card navigation links 

a{
    &.link{
        width: 100%;
        margin: 10px 10px 10px 0px;
        text-decoration: none;
    }
}