// Import Muli font styles

@font-face {
    font-family: 'Muli-Light';
    src:  url('../assests/fonts/Muli/Muli-Light.ttf'),
  }

@font-face {
    font-family: 'Muli-Regular';
    src:  url('../assests/fonts/Muli/Muli-Regular.ttf'),
  }

@font-face {
    font-family: 'Muli-Medium';
    src:  url('../assests/fonts/Muli/Muli-Medium.ttf'),
}

@font-face {
    font-family: 'Muli-SemiBold';
    src:  url('../assests/fonts/Muli/Muli-SemiBold.ttf'),
}

@font-face {
    font-family: 'Muli-Bold';
    src:  url('../assests/fonts/Muli/Muli-Bold.ttf'),
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src:  url('../assests/fonts/Muli/Muli-ExtraBold.ttf'),
}

@font-face {
    font-family: 'Muli-Black';
    src:  url('../assests/fonts/Muli/Muli-Black.ttf'),
  }

//   Typographics

.title-lg{
    font-size: 54px;
    font-family: 'Muli-Black';
    color: $primary-text-color;
    line-height: 1.3;

    &.dark-bg{
        color:$light-text-color;
    }

}

.title-md{
    font-size: 42px;
    line-height: 1.3;
    font-family: 'Muli-Black';
    color: $primary-text-color;
    &.dark-bg{
        color:$light-text-color;
    }
}

.title-lg-light{
    font-size: 38px;
    font-family: 'Muli-Light';
    color: $primary-text-color;
    line-height: 1.2;
    &.dark-bg{
        color:$light-text-color;
    }
}

.title-md-light{
    font-size: 20px;
    font-family: 'Muli-SemiBold';
    color: $primary-text-color;
    line-height: 1.2;
    &.dark-bg{
        color:$light-text-color;
    }

    &.colored{
        color: $primary-color;
    }
}

.title-section{
    font-size: 36px;
    font-family: 'Muli-Black';
    color: $primary-text-color;
    line-height: 1.3;
    margin-bottom: 12px;
    &.dark-bg{
        color:$light-text-color;
    }

    &.colored{
        color: $primary-color;
    }
}

.para-section{
    font-size: 16px;
    color: #676b73;
    line-height: 1.7;
    margin: 20px 0px;
    &.dark-bg{
        color:$light-text-color;
    }
}

.para-md{
    font-size: 18px;
}